{
  "trailingComma": "es5",
  "tabWidth": 4,
  "endOfLine": "lf",
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "quoteProps": "consistent",
  "printWidth": 140,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "proseWrap": "preserve"
}
